@import url(./variaveis.css);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
}

a {
    text-decoration: none;
}

hr {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid var(--color-pearl-001);
}

body {
    background-color: var(--color-branco);
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header {
    display: flex;
    position: fixed;
    align-items: center;
    height: 100px;
    width: 100vw;
    background-image: var(--gradient-vermelho);
    animation: header_animation 0.7s 1ms normal;
    justify-content: space-between;
    transition: height 0.3s ease;
    z-index: 1;
    box-shadow: 0dvb 4px 3px var(--color-verm-002-profundo);
}

header.shrink {
    height: 50px;
}

@keyframes header_animation {
    from {
        top: -100px;
    }

    to {
        top: 0px;
    }
}

.desenvoltech {
    position: relative;
    margin-top: 12px;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    transition: width 0.3s ease, height 0.3s ease;
}

.desenvoltech.shrink {
    width: 50px;
    height: 50px;
}

.button_header {
    position: relative;
    background: none;
    border: none;
    color: var(--color-pearl-001);
    width: 10%;
    height: 10%;
    margin-left: 10px;
}

aside {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-image: var(--gradient-vermelho-aside);
    top: 100px;
    height: 100%;
    width: 60%;
    margin-left: -100vw;
    transition: margin-left 0.9s ease, top 0.3s ease;
}

aside hr {
    border: 1px solid var(--color-pearl-001);
}

aside.shrink {
    top: 50px;
}

.button_aside_x {
    background: none;
    border: none;
    position: absolute;
    right: 0;
    color: var(--color-pearl-001);
}

.sectionAside {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.opcao {
    display: flex;
    position: relative;
    min-width: 230px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    height: 50px;
    color: var(--color-pearl-001);
    text-shadow: 2px 2px 5px var(--color-verm-001-blood);
    border-radius: 10px;
}

@keyframes showSidebar {
    from {
        margin-left: -100vw;
    }

    to {
        margin-left: -1vw;

    }
}

main {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    transition: filter 0.9s ease, top 0.3s ease;
}

main.shrink {
    top: 50px;
}

section {
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.section1,
.section4 {
    background-color: var();
    margin-left: -100vw;
    animation: section1Animacao 0.7s 0.5s forwards;
    transition: margin-left 0.9s ease;
}

strong {
    color: var(--color-verm-002-profundo);
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 3px var(--color-pearl-001);
}

.conteudoSection1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
}

.conteudoSection1 {
    flex-direction: column;
    justify-content: flex-start;
}

.h1Section1 {
    font-size: 28px;
    width: 80vw;
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: start;
}

.h1Section2,
.h1Section3,
.h1Section4 {
    width: 80vw;
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 20px;
    text-align: start;
}

.textSection1,
.textSection2,
.textSection3,
.textSection4 {
    color: var(--color-preto-001);
    font-family: arial;
    font-size: 14px;
}

@keyframes section1Animacao {
    from {
        margin-left: -100vw;
    }

    to {
        margin-left: 0;
    }
}

.section2 {
    background-color: var(--color-005);
    transform: translateX(100vw);
    animation: section2Animation 0.7s 1s forwards;
    transition: transform 0.9s ease;
    justify-content: center;

}

@keyframes section2Animation {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}

.conteudoSection2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80vw;
    height: 80%;
}

.textSection2 h2 {
    font-size: 17px;
}

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Importante para esconder os cards fora da tela */
    position: relative;
    width: 100vw;
}

.conteudoSection3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Section3Texto {
    width: 80%;
}

.carousel {
    display: flex;
    width: 100vw;
    transition: transform 0.5s ease-in-out;
}

a {
    text-decoration: none;
    display: block;
}

.card {
    flex: 0 0 100%;
    flex-direction: column;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-verm-004-escarlate);
    color: var(--color-pearl-001);
    font-size: 24px;
    font-style: italic;
    border: 1px solid var(--color-preto-001);
    box-shadow: 0px 4px 40px var(--color-verm-006-chary);
    text-shadow: 2px 2px 5px var(--color-verm-001-blood);
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: none;
    min-width: 100vw;
    border-radius: 10px;
}

.card h3 {
    font-size: 17px;
}

.h3Section3 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 200px;
    color: var(--color-pearl-001);
    animation: h3Section3 3s infinite;
}

@keyframes h3Section3 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.conteudoSection4 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
}

.conteudoSection4 h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.textSection4 {
    position: relative;
    display: flex;
    width: 80%;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: 10px;
    margin-top: 0px;
}

.textSection4 h3 {
    margin: 10px;
}

h2 strong {
    font-size: 20px;
}

.textSection4Jogos {
    position: relative;
    display: flex;
    width: 80%;
    flex-direction: column;
    text-align: start;
    align-items: start;
    margin: 10px;
}

.textSection4Jogos h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 10px;
}

footer {
    position: relative;
    display: flex;
    flex-direction: row;
    background-image: var(--gradient-vermelho-aside);
    box-shadow: 0px 4px 40px var(--color-verm-006-chary);
    width: 100vw;
    height: 250px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.creditos {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    color: var(--color-pearl-001);
}

.creditos h3 {
    flex-direction: row;
}

.perfil-aluno {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.perfil-aluno img {
    border-radius: 50%;
    max-width: 60px;
    max-height: 60px;
    margin: 10px;
    border: 1px solid var(--color-pearl-001);
}